<div class="container featured-posts">
	<div class="text-center container">			
		{{#if author}}
		
		{{! Do nothing }}
		
		{{else}}
		
		{{#if pagination.prev}}
	
		{{pagination}}
	
		{{else}}
	
		{{#if pagination.next}}
	
		{{pagination}}
		
		{{/if}}
	
		{{/if}}
		
		{{/if}}
	</div>
</div>
{{#foreach posts}}

    <article class="excerpt animated fadeIn {{post_class}}">
        <div class="container">
        	{{#if featured}}
				<h4 class="featured-post"><i class="fa fa-moon-o"></i> Featured Post </h4>
			{{/if}}
			<img class="center-block img-responsive" src="{{image}}">
        	<div class="title animated fadeInUp">
				<a href="{{url}}">
                	<h1>{{title}}</h1>
				</a>
			</div>
			<section class="excerpts-published-time">
				<strong>Published</strong>: 
				<time datetime="{{date format='YYYY-MM-DD'}}">{{date format='DD MMM YYYY'}}</time>
			</section>
            <p>{{excerpt words="60"}}&hellip;</p>
        </div>
    </article>

	<div class="sample animated fadeIn">
        {{> sidebar}}
    </div>

{{/foreach}}
