<div class="animated sidebar-grimmoire-inner fadeIn">
	<a href="{{@blog.url}}"><img class="avi" src="{{asset 'images/5times.gif'}}"></a>
	<a href="{{@blog.url}}"><img class="avi-book" src="{{asset 'images/Animated_Grimmoire_Weird.gif'}}"></a>
	<a href="{{@blog.url}}"><img src="{{asset 'images/Gersande_Bilbo.png'}}" class="gersandefancy fadeInUp" alt="Gersande's Website"></a>
	<p class="by-line">{{@blog.description}}</p>
	<a class="btn btn-social-icon" href="mailto:letters@gersande.com"><!--btn btn-social-icon btn-email-->
		<i class="fa fa-envelope"></i>
	</a>
	
	<a href="/portfolio"><img class="portfolio-leaf" src="{{asset 'images/portfolio.gif'}}"></a>
	
	<div class="social-buttons">
		<div class="text-center">
			<a class="btn btn-social-icon btn-rss" href="http://gersande.com/rss/">
				<i class="fa fa-rss"></i>
			</a>
			<br>
			<a class="btn btn-social-icon btn-twitter" href="http://twitter.com/gersandelf">
				<i class="fa fa-twitter"></i>
			</a>
			<a class="btn btn-social-icon btn-facebook" href="http://facebook.com/gersande.lafleche">
				<i class="fa fa-facebook"></i>
			</a>
			<a class="btn btn-social-icon btn-instagram" href="http://instagr.am/gersandelf">
				<i class="fa fa-instagram"></i>
			</a>
			<a class="btn btn-social-icon btn-tumblr" href="http://gersandelf.tumblr.com/">
				<i class="fa fa-tumblr"></i>
			</a><br>
			<a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/+GersandeLaFleche/posts">
				<i class="fa fa-google-plus"></i>
			</a>
			<a class="btn btn-social-icon btn-500px" href="https://500px.com/gersande">
				<i class="fa fa-500px"></i>
			</a>
			<a class="btn btn-social-icon btn-soundcloud" href="https://soundcloud.com/gersande">
				<i class="fa fa-soundcloud"></i>
			</a>
			<a class="btn btn-social-icon btn-vimeo" href="https://vimeo.com/gersande">
				<i class="fa fa-vimeo-square"></i>
			</a>
			<a class="btn btn-social-icon btn-deviantart" href="http://gersandelf.deviantart.com/">
				<i class="fa fa-deviantart"></i>
			</a>
			<a class="btn btn-social-icon btn-twitch" href="http://www.twitch.tv/gersande/">
				<i class="fa fa-twitch"></i>
			</a>
			<br>
			<a href="https://concordia.academia.edu/Gersande">Academia.edu</a>
		</div>
	</div>
</div>