<!doctype HTML>
<html>
	<head>
		{{! Document settings and metadata}}
		<title>{{meta-title}}</title>
		<meta charset="utf-8" />
        <meta name="designer" content="Gersande" />
        <meta name="rating" content="general" />
        <meta name="keywords" content="Gersande La Fleche, blog, {{meta_title}}" />
        
        {{! iOS and mobile shizz}}
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=yes" />
        <meta name="mobile-web-app-capable" content="yes" />

		{{! Robots and Viewport}}
        <meta name="robots" content="no-index, no-follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
		{{! Twitter Card }}
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content="{{meta_title}}" />
        {{#if @blog.cover}}<meta property="twitter:image" content="{{@blog.cover}}" />{{/if}}

		{{! Icons }}
        <link rel="icon" href="{{asset 'images/favicon.ico'}}" />
        
        {{! Prerendering and prefetching}}
		{{#if @blog.cover}}
            <link rel="prerender" href="{{@blog.cover}}" />
            <link rel="prefetch" href="{{@blog.cover}}" />
        {{/if}}
        <link rel="dns-prefetch" href="//fonts.googleapis.com/" />

		{{! Bootstrap CSS}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		{{! Scripts and Stylesheets }}
        <link rel="stylesheet" href="{{asset 'css/basics.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/animate.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/gist.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/grimmoire.css'}}" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="{{asset 'js/html5shiv-printshiv.js'}}"></script>
        <script src="{{asset 'js/respond.js'}}"></script>
		
		{{! Social icons}}
  		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  		<link rel="stylesheet" href="{{asset 'css/bootstrap-social.css'}}">
  		<link rel="stylesheet" href="{{asset 'font-awesome-4.2.0/font/font-awesome.min.css'}}">

  		{{! Page-Specific Metadata }}
        {{{block "meta"}}}

		{{!Bootstrap JS}}
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        {{ghost_head}}
        				
		{{! Google Analytics }}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-37910593-3', 'auto');
		  ga('send', 'pageview');
		
		</script>

		{{! Gist script taken from https://github.com/blairvanderhoof/gist-embed }}
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gist-embed/2.0/gist-embed.min.js"></script>
		
		{{! Facebook Share Button }}
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	</head>
	<body class="{{body_class}}" id="top">
	<div id="fb-root"></div>
	{{! Sidebar }}
		<div class="sidebar-grimmoire">
			{{>sidebar-main}}
		</div>
	{{! End of Sidebar }}
	
	{{! Main Section}}
		<div class="main-section-including-nav">
			{{>navigation-panel}}
			<div class="main-section">
				{{{body}}}
				<div class="text-center">
					{{#if author}}
					
					{{! Do nothing }}
					
					{{else}}
					
					{{#if pagination.prev}}
			
					{{pagination}}
			
					{{else}}
			
					{{#if pagination.next}}
			
					{{pagination}}
					
					{{/if}}
			
					{{/if}}
					
					{{/if}}
					<section class="website-credits">
						<a class="btn btn-social-icon" href="mailto:letters@gersande.com"><!--btn btn-social-icon btn-email-->
							<i class="fa fa-envelope"></i>
						</a>
						<div style="margin-top:10px; margin-right: auto; margin-left: auto;" class="container">
							The works contained on Gersande.com are community-supported. To find out how you can support my writing, reflections, game making, and poetry-code, check out my <a href="http://www.patreon.com/gersande">Patreon</a>!<br><br>
						</div>
						<a href="#top" class="theme">Return To Top</a>
					</section>
				</div>
			
			</div>	
		</div>
	{{! End of Main Section}}
	</body>
</html>