{{!< default}}

{{#post}}

    {{> post-meta}}

    <header id="post-header-image" class="animated fadeIn" {{#if image}}style="background-image: url({{image}})"{{/if}}>
		<!--Silence is perfection-->
		<div class="container" data-stellar-ratio="0.75">
    	{{> title}}
		</div>
		{{> sidebar}}
    </header>
    <div class="container">
    	<section class="post-meta">
        	<br>Published <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>{{tags prefix=" on "}}.
		</section>
    </div>
    {{> content}}
	
	
    <div id="author-container" class="container">
        {{> share}}
        <div class="author animated fadeIn clearfix"> 
            <h4>Author Biography</h4>
            {{#author}}
                <img src="{{image}}" alt="{{name}}" />
                <div class="info">
                    <a href="http://gersande.com/about" class="name">{{name}}</a>
                    <p class="bio">{{bio}}</p>
                </div>
            {{/author}}
        </div>
    </div>
    {{> featured}}
	<div id="discussion-container" class="container">
		<h4>Discussion</h4>
		{{> comments}}
	</div>
{{/post}}
