@font-face {
  font-family: 'hobbitfont';
  src: url('../fonts/bilboregular.ttf');  }

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Light-webfont.eot');
	src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
		url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular-webfont.eot');
	src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
		url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
		url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translate3d(0,20px,0);
		transform:translate3d(0,20px,0);
	}
	100% {
		opacity:1;
		-webkit-transform:none;
		transform:none;
	}
}
@keyframes fadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translate3d(0,20px,0);
		-ms-transform:translate3d(0,20px,0);
		transform:translate3d(0,20px,0);
	}
	100% {
		opacity:1;
		-webkit-transform:none;
		-ms-transform:none;
		transform: none;
	}
}
body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif;
	-webkit-font-smoothing:antialiased;
	font-weight:300;
	cursor:default;
}
.main-section {
	position: relative;
	margin-left: 350px;
	padding: 2em;
	padding-bottom: 0px !important;
	margin-right: auto;
	width: auto;
}
.sidebar-grimmoire {
	position: fixed;
	float: left;
	width: 350px;
	background-color: black;
	padding-bottom: 150px;
	padding-top: 25px;
	/*min-height: 100vh !important;*/
	min-height: 100%;
	background: -webkit-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(9, 38, 55) 49%, rgb(9, 38, 56) 50%);
	background: -o-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(9, 38, 55) 49%, rgb(9, 38, 56) 50%);
	background: -ms-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(9, 38, 55) 49%, rgb(9, 38, 56) 50%);
	background: -moz-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(9, 38, 55) 49%, rgb(9, 38, 56) 50%);
	background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 1%, rgb(9, 38, 55) 49%, rgb(9, 38, 56) 50%);
/*	clear: both;*/
	margin-bottom: 0px !important;
}
.sidebar-grimmoire-inner {
	width: 340px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	height: 100% !important;
	padding-bottom: 100%;
	margin-bottom: auto;
}
.avi {
	display: block;
	margin-left: auto;
	margin-right: auto;	
	width: 115px;
	height: auto;
	z-index: 20;
}
.avi-book {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
	z-index: 21;
	margin-top: -75px !important;
	-webkit-animation-delay:.5s;
	animation-delay:.5s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}
.portfolio-leaf {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#top > div.sidebar-grimmoire > div > a:nth-child(5) > img {
	height: 125px !important;
}
.sidebar-title {
	font-style: "Helvetica Neue";
	font-weight: 200;
	letter-spacing: 1;
	color: #ffffff !important;
	text-align: center;
	font-size: 1.8em !important;
}
.by-line {
	display: block;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	color:rgba(255, 255, 255, 0.40) !important;
	letter-spacing: 2;
	font-weight: 200;
	font-size: 18px;
	margin-bottom: 10px !important;
}
.site-description {
	font-weight: 400;
	font-size: 16px;
	color: rgba(255,255,255,0.60) !important;
	line-height: normal !important;
}
.discussion-container {}
.author-container {}
.biopic {
	width: 280px;
	height: auto;
	margin-top: 55px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-style: ridge;
	border-color: rgba(9, 28, 43, 0.95);
	border-width: 3px;
}
.social-buttons {
	margin-left: auto;
	margin-right: auto;
	margin-top: 26px;
	width: 250px;
}
.biography {
	display: block;
	text-align: left;
	border-left: 5px solid rgba(255, 255, 255, 0.5);
	padding-left: 20px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	color: white;
	color:rgba(255, 255, 255, 0.60) !important;
	font-weight: 400;
	font-size: 16px;
	line-height: normal;
	-webkit-animation-delay:1s;
	animation-delay:1s;
	-webkit-animation-duration:1s;
	animation-duration:1s;	
}
.main-section-including-nav {
	
}
.navigation-panel {
	position: relative;
	margin-left: 350px;
	height: 150px;
	padding: 10px;
	text-align: center;
}
.nav {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.gersandefancy {
	width: 185px;
}
.storify {
	clear: none !important;
}
.navigation-panel > ul {
	display: inline-block;
	padding-bottom: 80px;
}
.navigation-panel > ul > li {
	display: inline-block;
	width: auto;
	font-size: 21px;
	padding-left: 3px;
	padding-right: 3px;
}
div.main-section > header {
	min-height: 360px;	
	max-height: 580px;
}
.btn {
	margin-top: 2.5px;
	margin-bottom: 2.5px;	
}
p, ul, ol {
	margin-bottom:40px;
	font-size:18px;
	font-weight:300;
	line-height:34px;
	letter-spacing:0;
}
ul ul, ol ul, ul ol, ol ol {
	margin-bottom:0;
}
blockquote {
	padding-left:20px;
	margin-left:20px;
	border-left:1px dotted #ddd;
}
a {
	color:#6073D1;
	text-decoration:none;
}
a:hover {
	color:#8092eb;
	text-decoration:none;
}
strong {
	font-weight:600;
}
.container, .pagination {
	position:relative;
	width:500px;
	margin:0 auto;
}
.sidebar {
	position:absolute;
	left:-190px;
	width:130px;
}
.comments, footer {
	padding: 0px 0;
}
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.navigation {
	height:90px;
	font-weight:100;
	background:#1b1f23;
}
.content, .brand {
	display:block;
	float:left;
}
.brand {
	border:none;
	padding:30px 0;
	line-height:0;
}
.brand img {
	width:auto;
	height:150px;
}
.content {
	line-height:90px;
	margin:0;
}
#top > div.main-section > div:nth-child(2) {
	clear: none !important;
}
#top > div.main-section > div:nth-child(2):after {
	clear: none !important;
}
#top > div.main-section > div.text-center.container {
	clear: none !important;
}
#top > div.main-section > div.text-center.container:after {
	clear: none !important;
}
.container:after {
	clear: none !important;
}
header {
	position:relative;
	font-weight:300;
	color:#fff;
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-background-size:cover cover;
	background-size:cover;
	-webkit-animation-duration:3s;
	animation-duration:3s;
}
header:before {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(36, 43, 47, 0.6);
	content:"";
}
header .container {
	padding-top:130px;
	padding-bottom:260px;
}
.title {
	-webkit-animation-delay:.5s;
	animation-delay:.5s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}
.title h1 {
	font-weight:300;
	line-height:60px;
	margin:0;
	display: block;
}
.title p {
	max-width: 420px;
	margin-bottom: 0;
}
header .share {
	margin-top:20px;
	line-height:28px;
	color:#7f8c8d;
}
.meta {
	top:140px;
	text-transform: capitalize;
}
.meta strong {
	display:block;
}
.meta time, .tags a {
	font-weight:300;
}
.excerpts-published-time {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}
.meta strong, .tags a, .meta time {
	font-size:13px;
	line-height:22px;
}
.published {
	-webkit-animation-delay:.75s;
	animation-delay:.75s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}
.tags {
	margin-top:30px;
	-webkit-animation-delay:1s;
	animation-delay:1s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}
.tags a {
	display: block;
	border: none;
}
.meta .separator {
	display:none;
	color:#7f8c8d;
	margin:0 10px;
}
article {
	-webkit-animation-delay:1.25s;
	animation-delay:1.25s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	padding: 40px 0 0px;
}
article.excerpt {}
article pre {
	overflow:scroll;
	color:#777;
	white-space:pre;
	background:#f2f3f4;
	border:1px solid #ddd;
	border-radius:8px;
	padding:20px;
}
article .gist pre {
	border-radius:0;
}
article pre code {
	font-family:Consolas, "Liberation Mono", Courier, monospace;
	font-size:14px;
	font-weight:400;
	line-height:24px;
}
article hr {
	border:1px solid #ddd;
}
article p > img {
	display:block;
	margin:0 auto;
}
.article-image {
	width:940px;
	margin:80px -220px;
	text-align: center;
}

article h1, article h2, article h3 {
	font-weight:300;
	color:#464c4c;
}
article h1 {
	font-size:33px;
	line-height:43px;
	margin:80px 0 40px;
}
article h2 {
	font-size:26px;
	line-height:36px;
	margin:40px 0 0;
}
article h3 {
	font-size:20px;
	line-height:30px;
	margin:30px 0;
}
article input {
	width:100%;
	border:1px solid #ddd;
	border-radius:4px;
	outline:none;
	-webkit-transition:border .25s;
	transition:border .25s;
	padding:8px 16px;
}
article input:hover {
	border:1px solid #bbb;
}
article input:focus {
	border:1px solid #999;
}
.author {
	border-top: 1px solid #ddd;
	padding: 40px 0 80px;
}
.author img {
	border-radius: 50%;
	width: 60px;
	float: left;
}
.author .info {
	width: 385px;
	float: left;
	margin-left: 15px;
}
.author .name {
	margin: 0;
	display: block;
	border: none;
	font-weight: 600;
	font-size: 18px;
	line-height: 34px;
}
.author .bio {
	margin: 0;
	font-size: 16px;
	line-height: 30px;
}
.author, .comments {
	-webkit-animation-delay:1.5s;
	animation-delay:1.5s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}
.comments {

}
footer {
	-webkit-animation-delay:2s;
	animation-delay:2s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}
.copyright {
	font-size:30px;
	line-height: 40px;
	font-weight:400;
	color:#464c4c;
	margin: 0 -80px 20px;
}
.theme {
	font-weight: 600;
	border: none;
	font-size: 12px;
	display: block !important;
}
.theme:before {
	margin-top: 20px !important;
}
.theme:after {
	margin-bottom: 20px !important;
}
.website-credits {
	display: block;
	padding-top: 20px;
	padding-bottom: 80px;
}
footer p {
	margin:0;
}
.sample {
	font-weight:300;
	color:#fff;
	-webkit-animation-duration:3s;
	animation-duration:3s;
}
.sample .title a {
	display:block;
	border-bottom:none;
}
.sample .container {
	padding-top:130px;
	padding-bottom:0;
}
.excerpt article {
	padding:40px 0;
}
.sample .container a:hover {
	color:#6073D1;
}
.excerpt article {
	border-bottom:2px solid #f2f3f4;
}
.page footer {
	border-top:2px solid #f2f3f4;
}
header .share a {
	border:none;
}
.sample:before, .excerpt article h1, .excerpt article h2, .excerpt article h3 {
	display:none;
}
.sample .title a, .sample .meta strong {
	color:#464c4c;
}

#top > div > section > div > div {}

#top > div.main-section-including-nav > div.main-section > article > div > p:nth-child(1) > code > div > div {
	border: none !important;
	background-color: white !important;
}
.hide-until-small {
		visibility: visible;
		display: block;
}

@media (max-width: 1200px) {
	.meta time, .published, .tags, .tags a, .meta .separator {
		display: inline-block;
	}
	.hide-until-small {
		visibility: hidden;
		display: none;
	}
}

@media (max-width: 992px) {
	.container, .pagination {
		width:auto;
		display: block;
		max-width:650px;
		padding:0 8%;
	}
	.sidebar {
		position:static;
		top:0;
		left:0;
		width:auto;
	}
	.navigation-panel {
		position: relative;
		margin-left: 0px !important;
		height: 150px;
		padding: 10px;
		text-align: center;
	}
	.content {
		margin-left:20px;
	}
	.title h1 {
		margin:0;
		font-size:49px;
		line-height:54px;
	}
	.title {
		width:90%;
	}
	header .container {
		padding-top:120px;
		padding-bottom:240px;
	}
	.meta a:after {
		content:",";
		margin-right: 4px;
	}
	.meta a:last-child:after {
		content:"";
	}
	.meta strong {
		display:none;
	}
	.published:after {
		margin-left:10px;
	}
	.published, .tags {
		margin-top:0;
	}
	.meta.text-right {
		text-align:left;
	}
	.meta {
		width:400px;
		margin-top:20px;
	}
	.article-image {
		width: 100%;
		margin: 80px 0;
	}
	.sample {
		padding-bottom:0;
	}
	.meta time, .published, .tags, .tags a, .meta .separator {
		display:inline-block;
	}
	#top > div.navigation-panel {
		margin-bottom: 60px !important;
	}
	.author .info {
		width: 320px;
	}
	.author .bio {
		font-size: 14px;
		line-height: 28px;
	}
	.copyright {
		margin: 0;
	}
	.copyright span {
		display: block;
	}
	.sidebar-grimmoire {
		display: none;
		visibility: hidden !important;
	}
	.main-section {
		margin-left: 20px !important;
	}
	.hide-until-small {
		visibility: visible;
		display: block;
	}
}
@media (max-width: 480px) {
	p, ul, ol {
		margin-bottom:20px;
		font-size:13px;
		line-height:25px;
	}
	.container, .pagination {
		padding:0 6%;
	}
	.comments, footer {
		padding:60px 0;
	}
	.content {
		font-size:18px;
	}
	.navigation-panel {
		position: relative;
		margin-left: 0px !important;
		height: 250px;
		padding: 10px;
		text-align: center;
	}
	.title h1 {
		font-size:29px;
		line-height:37px;
	}
	header .container {
		padding-top:60px;
		padding-bottom:120px;
	}
	.sample .container {
		padding-top: 60px;
	}
	.published:after {
		margin-left:5px;
	}
	.published, .tags {
		display:block;
	}
	.meta .separator {
		display:none;
	}
	.article-image {
		margin:20px 0;
	}
	article h1 {
		font-size:23px;
		line-height:33px;
		margin:40px 0 20px;
	}
	article h2 {
		font-size:18px;
		line-height:28px;
		margin:20px 0 0;
	}
	article h3 {
		font-size:13px;
		line-height:23px;
		margin:15px 0;
	}
	article {
		padding:40px 0 20px;
	}
	.copyright {
		font-size:17px;
		line-height: 26px;
	}
	.title, .meta {
		width:260px;
	}
	.author .info {
		margin-left: 0;
		width: auto;
	}
	.author img {
		display: none;
	}
	.author .bio {
		font-size: 13px;
		line-height: 25px;
	}
	.main-section {
		margin-left: 10px;
		margin-top: 25px !important;
	}
	.sidebar-grimmoire {
		display: none;
		visibility: hidden !important;
	}
	.hide {
		display: none;
		visibility: hidden;
	}
	.hide-until-small {
		visibility: visible;
		display: block;
	}
}
@media print {
	header .share {
		margin-top:30px;
	}
	header .container {
		padding-top:30px;
		padding-bottom:60px;
	}
	.meta {
		margin-top:10px;
	}
	article {
		padding:0;
	}
	.comments, footer {
		display: none;
	}
}

/*
	Fixes bootstrap
*/

body > nav.navbar.navbar-inverse {
	background-color: none !important;
	border-radius: 0px;
	margin-bottom: 0px !important; 
	border: none;
}

.fa-500px:before {
    font-family: sans-serif;
    content: "5∞";
}

.featured-post {
	color: rgba(0, 0, 0, 0.77) !important;
}

.post-meta {
	margin-top: 30px;
}

#author-container > div.post-meta > div > span {
	vertical-align: inherit !important;
}